@model MiMascota.web.Data.Entities.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PrimerNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PrimerNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SegundoNombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SegundoNombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoFijo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoFijo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TelefonoCelular)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TelefonoCelular)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Direccion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
